@font-face {
  font-family: 'IBMVGA8';
  src: url("../assets/WebPlus_IBM_VGA_8x16.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMBIOS';
  src: url("../assets/WebPlus_IBM_BIOS.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

.bios {
  font-family: IBMBIOS, monospace;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: IBMVGA8, "IBM VGA 8x16", monospace;

  background: #222;
  color: #AAA;
}

body {
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  align-items: stretch;
  justify-content: stretch;
}
main {
  flex-grow: 1;
  display: grid;
  margin: 4px auto;
  max-width: calc(960px + 352px);
  grid-template-columns: 0 auto 352px 0;
  //grid-template-columns: 1fr max(1fr, 960px) 300px 1fr;
  grid-template-rows: 4em 1fr;
}
.top {
  justify-self: stretch;
  max-width: 960px;
  white-space: pre-wrap;
  word-break: break-all;
  grid-column: span 2;
  border-bottom: 4px solid #777;
  margin-bottom: 12px;
  overflow: hidden;
}
.topstatus {
  text-align: center;
}
.divcanvas {
}
.sidebar {
  font-family: IBMBIOS, monospace;
  white-space: pre;
  border-left: 4px solid #777;
  margin-left: 14px;
  padding-left: 14px;
}
.text-error {
  color: #000;
  background: #F55;
  display: inline-block;
}
.text-0, .text-normal {
  color: #AAA;
}
.text-1, .text-white, .text-rarity-normal {
  color: #FFF;
}
.text-2, .text-gray {
  color: #555;
}
.text-3, .text-red {
  color: #A00;
}
.text-4, .text-orange, .text-rarity-unique {
  color: #A50;
}
.text-5, .text-yellow {
  color: #AA0;
}
.text-hl {
  color: #FF0;
  font-weight: bold;
}
.text-6, .text-green, .text-rarity-rare {
  color: #0A0;
}
.text-7, .text-cyan {
  color: #0AA;
}
.text-8, .text-blue, .text-rarity-magical {
  color: #05A;
}
.text-9, .text-purple {
  color: #50A;
}
.text-a, .text-magenta {
  color: #A0A;
}
.text-b, .text-brown {
  color: #740;
}
.text-f, .text-black {
  color: #000;
}
