@font-face {
  font-family: 'IBMVGA8';
  src: url("../assets/WebPlus_IBM_VGA_8x16.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMBIOS';
  src: url("../assets/WebPlus_IBM_BIOS.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

.bios {
  font-family: IBMBIOS;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: IBMVGA8, "IBM VGA 8x16", monospace;

  background: #222;
  color: #AAA;
}

body {
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  align-items: stretch;
  justify-content: stretch;
}
main {
  flex-grow: 1;
  display: grid;
  margin: 4px;
  grid-template-rows: 3em 1fr;
}
.top {
  text-align: center;
}

.text-0 {
  color: #AAA;
}
.text-1 {
  color: #FFF;
}
.text-2 {
  color: #555;
}
.text-3 {
  color: #A00;
}
.text-4 {
  color: #A50;
}
.text-5 {
  color: #AA0;
}
.text-6 {
  color: #0A0;
}
.text-7 {
  color: #0AA;
}
.text-8 {
  color: #05A;
}
.text-9 {
  color: #50A;
}
.text-a {
  color: #A0A;
}
.text-b {
  color: #740;
}
.text-f {
  color: #000;
}
